@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

@layer base {
  @responsive {
    .h-1\/4 {
      max-height: 25%;
    }
    .h-1\/3 {
      max-height: 33%;
    }
    .h-2\/3 {
      max-height: 66%;
    }
    .h-1\/2 {
      max-height: 50%;
    }
    .h-3\/4 {
      max-height: 75%;
    }
    .h-scroll {
      height: 100vh;
    }
    .h-hero {
      height: 80vh;
    }
    .h-off {
      max-height: none;
    }
    .snap-center {
      scroll-snap-align: center;
      scroll-snap-stop: normal;
    }
    .snap-reset {
      scroll-snap-align: none;
      scroll-snap-stop: normal;
    }
  
    .snap-start {
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
  
    .snap-end {
      scroll-snap-align: end;
      scroll-snap-stop: normal;
    }
    .flex-gap-x {
      --gap: 6rem;
      margin-left: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
      /* width: calc(100% + var(--gap)); */
    }
    
    .flex-gap-x > figure:nth-child(n+2) {
      margin-left: var(--gap) ;
    }
  }
  .scrollbar::-webkit-scrollbar,
  html::-webkit-scrollbar {
    width: 4px;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #c8c8c8 #fff;
  }

  .scrollbar::-webkit-scrollbar-track,
  html::-webkit-scrollbar-track {
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
  }
  html.scrollsnap {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@layer utilities {
  @responsive {
  }
}

html {
  font-size: 14px;
}

@screen md {
  html {
    font-size: 16px;
  }
}
