#tilt-frame {
  min-height: 100vh;
  grid-template-columns: minmax(0, 1fr);
}
#tilted {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  z-index: 1;

}
.tilted-wrap {
  position: absolute;
}

.tilt-frame-wrap {
  z-index: 0;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100vh;
    grid-template-columns: minmax(0, 1fr);
}

.overlay-gradient {
  opacity: 1;
    background: linear-gradient(246deg, $color-black 0%, $color-gray-dark 100%);
    filter: opacity(100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.top-row {
  transform: translateX(0px);
  left: -50px;
  margin-left: -500px !important;
}

.bottom-row {
  transform: translateX(0px);
  margin-left: -2500px !important;
}

.row-wrap {
    display: flex;
    column-gap: 4rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 4rem;
    padding-left: 0rem;
    min-height: 400px;
}