#tilt-frame {
  min-height: 100vh;
}

#tilt-frame:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 100) 0%, rgba(17, 17, 17, 0) 50%, rgba(17,17,17,80%) 80%, rgba(17,17,17,100) 100%);
  pointer-events: none;
}

#tilted {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  z-index: 1;
}

.tilted-wrap {
  position: absolute;
  scale: 0.85;
}

.tilt-frame-wrap {
  z-index: 0;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100vh;
    grid-template-columns: minmax(0, 1fr);
}

.overlay-gradient {
  opacity: 1;
    background: linear-gradient(246deg, $color-black 0%, $color-gray-dark 100%);
    filter: opacity(100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.top-row {
  transform: translateX(0px);
  left: -50px;
  margin-left: -700px !important;
}

.bottom-row {
  transform: translateX(0px);
  margin-left: -1600px !important;
}

.row-wrap {
    display: flex;
    column-gap: 4rem;
    padding: 0 0 4rem 0;
}
.item {
  background-color: $color-gray-light;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top: 8px solid $color-gray-light;
  border-right: 8px solid $color-gray-light;
  border-bottom: 8px solid $color-gray-light;
  border-left: 8px solid $color-gray-light;
}

.window {
  border-width: 4px 4px 2px 2px;
  border-style: solid;
  border-top-color: #ccc;
  border-right-color: #eee;
  border-bottom-color: #eee;
  border-left-color: #eee;
  border-radius: 4px;
  overflow: hidden;
}

.item .title {
  position: relative;
  padding-left: 40px;
}

.item .title:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: $color-primary;
}
.item .title:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 18px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: $color-secondary;
}

.item img, .item video {
 height: 720px;
}
